#resetpasswordmodal.modal.fade.bs-examples-moda-sm(tabindex=-1, role='dialog', aria-labelledby='ChangePasswordModal')
  .modal-dialog.modal-sm(style='margin-top: 10%;')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(arial-hidden=true) &times;
        h4.modal-title Зміна паролю
      .modal-body
        ul#validerr.error
        form#resetpassform(method='POST', action='/users/resetpassword')
          .form-group
            label(for='password') Новий пароль
            input#password(type='password', name='password', form='resetpassform')
          .form-group
            label(for='passconf') Підтвердження паролю
            input#passconf(type='password', name='passconf', form='resetpassform')
          input(type='hidden', name='user', value='', id='userId')
          button.btn.btn-primary(type='submit', form='resetpassform') Змінити пароль
